Repository FRONT-END-BOOTCAMP-PLUS-5/Ssemtle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

.lintstagedrc:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --max-warnings 0"],
  "*.md": "prettier --write"
}

fix: Docker/K8s 배포 시 Prisma ORM 런타임 오류 해결
  .dockerignore
  dockerfile
  k8s/MIGRATION_NOTES.md
  k8s/database.yaml
  k8s/deployment.yaml
  next.config.ts
  prisma/schema.prisma
Due: prettier --write, eslint --max-warnings 0

fix: NEXT_PUBLIC 환경변수를 Docker 빌드에 전달
  .github/workflows/deploy.yml
  dockerfile
Due: none

feat: www.ssemtle.com을 ingress에 추가
  k8s/ingress.yaml
Due: none

단원평가 모바일 버전 학생 조회 URL 경로 수정
  app/teacher/student/components/StudentTable.tsx
Due: prettier --write, eslint --max-warnings 0

docs: 프로덕션 환경을 위한 배포 가이드 업데이트
  k8s/README.md
Due: prettier --write

feat: 전체 사이트 SEO 개선 및 메타데이터 통합
  app/error-note/page.tsx
  app/landing/page.tsx
  app/layout.tsx
  app/practice-category/layout.tsx
  app/practice/page.tsx
  app/robots.ts
  app/signin/page.tsx
  app/signup/page.tsx
  app/signup/students/page.tsx
  app/signup/teacher/page.tsx
  app/sitemap.ts
  app/unit/layout.tsx
  libs/metadata.ts
Due: prettier --write, eslint --max-warnings 0

test: test-error-notes 페이지 제거
  app/test-error-notes/page.tsx
Due: prettier --write, eslint --max-warnings 0

fix: dockerfile -> Dockerfile (파일 이름 컨벤션 준수), deploy.yml 문법 오류 해결.
  .github/workflows/deploy.yml
  Dockerfile
Due: none

fix: 시험지 보기 안되는 현상 수정
  app/teacher/unit-exam-codes/page.tsx
Due: prettier --write, eslint --max-warnings 0

Update README.md
  README.md
Due: prettier --write

Update README.md (#322)
  README.md
Due: prettier --write

dev -> main (#325)
  .dockerignore
  .github/workflows/deploy.yml
  Dockerfile
  README.md
  app/api/healthz/route.ts
  app/api/readyz/route.ts
  app/teacher/student/components/StudentTable.tsx
  app/teacher/unit-exam-codes/page.tsx
  k8s/MIGRATION_NOTES.md
  k8s/README.md
  k8s/database.yaml
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/service.yaml
  next.config.ts
  prisma/schema.prisma
Due: prettier --write, eslint --max-warnings 0

github repo 정보 lowercase로 변환하는 과정 추가
  .github/workflows/deploy.yml
Due: none

fix: temp commit to trigger action
  .github/workflows/deploy.yml
Due: none

fix: CD 파이프라인 수정
  .github/workflows/deploy.yml
Due: none

feat: Helm 통한 CD 구현
  .github/workflows/deploy.yml
  helm/ssemtle/Chart.yaml
  helm/ssemtle/templates/database.yaml
  helm/ssemtle/templates/deployment.yaml
  helm/ssemtle/templates/ingress.yaml
  helm/ssemtle/templates/service.yaml
  helm/ssemtle/values.yaml
  k8s/deployment.yaml
Due: none

fix: CD 설정 변경
  .github/workflows/deploy.yml
Due: none

debug: kubeconfig 서버 주소 확인을 위한 임시 디버그 스텝 추가
  .github/workflows/deploy.yml
Due: none

feat: self-hosted runner 사용으로 전환
  .github/workflows/deploy.yml
Due: none

refactor: workflow를 build와 deploy job으로 분리
  .github/workflows/deploy.yml
Due: none

fix: deploy job에 KUBECONFIG 환경변수 추가
  .github/workflows/deploy.yml
Due: none

fix: database 리소스를 Helm 관리에서 제외
  helm/ssemtle/values.yaml
Due: none

fix: non-root 사용자 권한 문제 해결
  Dockerfile
  helm/ssemtle/templates/deployment.yaml
Due: none

refactor: migrate init container 제거
  helm/ssemtle/templates/deployment.yaml
  helm/ssemtle/values.yaml
Due: none

chore: helm 파일 정리, k8s migration 정리, k3s 문서 내용 정리
  helm/ssemtle/templates/database.yaml
  helm/ssemtle/values.yaml
  k8s/K3S_DEPLOYMENT_README.md
  k8s/MIGRATION_NOTES.md
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/service.yaml
Due: prettier --write

fix: 메타데이터 전역으로 변경
  app/landing/page.tsx
  app/layout.tsx
Due: prettier --write, eslint --max-warnings 0

docs: README.md 자기소개 수정
  README.md
Due: prettier --write

fix: deploy job의 KUBECONFIG 경로를 runner 홈 디렉토리로 변경
  .github/workflows/deploy.yml
Due: none

fix: use absolute path for KUBECONFIG to resolve permission issue
  .github/workflows/deploy.yml
Due: none

fix: robots.txt가 리다이렉트 되는 문제 해결하기 위해 middleware 수정.
  middleware.ts
Due: prettier --write, eslint --max-warnings 0

fix: 정적 에셋 최적화 (.webp/.avif 추가, srcSet 추가), favicon.ico 추가
  app/_components/404/NotFoundPage.tsx
  app/_components/header/Header.tsx
  app/favicon.ico
  app/layout.tsx
  public/icons/404-24.avif
  public/icons/404-24.webp
  public/logos/Ssemtle_logo.avif
  public/logos/Ssemtle_logo.webp
  public/ssemtle_favicon.png
Due: prettier --write, eslint --max-warnings 0

fix: middleware에서 sitemap.xml이 리디렉트 되는 문제 해결
  middleware.ts
Due: prettier --write, eslint --max-warnings 0

fix: 이전 커밋(0f78fdf88b52e35d0177ad3c2a0c9f607fd997dc)의 정적 에셋 최적화 부분 되돌리기
  app/_components/404/NotFoundPage.tsx
  app/_components/header/Header.tsx
  public/icons/404-24.avif
  public/icons/404-24.webp
  public/logos/Ssemtle_logo.avif
  public/logos/Ssemtle_logo.webp
Due: prettier --write, eslint --max-warnings 0

feat: 이미지 최적화 위한 config 변경 (avif 지원 추가: 디폴트 설정은 webp만)
  next.config.ts
Due: prettier --write, eslint --max-warnings 0

fix(tests): sync test mocks with repository/next-auth interfaces
  tests/__mocks__/prisma.ts
  tests/e2e/auth-flow.test.ts
  tests/integration/auth-api.test.ts
  tests/integration/auth-flow.test.ts
  tests/integration/auth-repository.test.ts
  tests/unit/auth.test.ts
  tests/unit/solves-usecases.test.ts
Due: prettier --write, eslint --max-warnings 0

fix(images): 이미지 최적화 엔드포인트의 임의 원격 호스트 허용 제거
  app/admin/teacher-approval/components/TeacherAuthCard.tsx
  next.config.ts
  tests/unit/image-optimizer.test.tsx
Due: prettier --write, eslint --max-warnings 0

fix(claude): Claude Code 훅이 stdin 입력을 읽고 올바르게 차단하도록 수정
  .claude/hooks/auto-lint.sh
  .claude/hooks/check-branch.sh
  .claude/hooks/check-todos.sh
  .claude/hooks/document-changes.sh
  .claude/hooks/handle-compact.sh
  .claude/hooks/inject-rules.sh
  .claude/hooks/require-tests.sh
  .claude/hooks/test-hooks.sh
Due: none
