Repository FRONT-END-BOOTCAMP-PLUS-5/Ssemtle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

feat: 단원평가 결과조회 페이지 렌더링 이슈 해결
  app/_components/templates/UnitPageContent.tsx
  app/api/unit-exam/solves/route.ts
  app/workbook/unit-exam/UnitExamDataProvider.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --max-warnings 0

chore: package.json 수정 내역 되돌림
  package-lock.json
  package.json
Due: none

fix: 불필요한 로직 제거
  app/_components/templates/UnitPageContent.tsx
  app/api/unit-exam/solves/route.ts
  app/workbook/unit-exam/UnitExamDataProvider.tsx
Due: prettier --write, eslint --max-warnings 0

fix: build 오류 해결
  package-lock.json
Due: none

fix: resolve virtual keyboard blur detection and focus persistence issues
  app/_components/molecules/AnswerSection.tsx
  app/_components/molecules/MathInput.tsx
  app/error-note/_components/ErrorNoteCard.tsx
  app/error-note/_components/ErrorNoteInterface.tsx
Due: prettier --write, eslint --max-warnings 0

style/sidebar 링크 클릭시 닫히도록 수정
  app/_components/layoutclient/LayoutClient.tsx
  app/mypage/[id]/page.tsx
  backend/solves/usecases/GenerateSolvesByUnitUsecase.ts
Due: prettier --write, eslint --max-warnings 0

fix/console.log 지웠습니다
  app/_components/layoutclient/LayoutClient.tsx
  backend/solves/usecases/GenerateSolvesByUnitUsecase.ts
Due: prettier --write, eslint --max-warnings 0

fix/dom 건드린쓴거 수정했습니다
  app/_components/layoutclient/LayoutClient.tsx
Due: prettier --write, eslint --max-warnings 0

chore/공백제거
  app/_components/layoutclient/LayoutClient.tsx
Due: prettier --write, eslint --max-warnings 0

fix: 가상 키보드 블러 감지 및 포커스 관리 개선
  app/_components/molecules/MathInput.tsx
  app/error-note/_components/ErrorNoteInterface.tsx
  app/error-note/_components/VirtualKeyboard.tsx
Due: prettier --write, eslint --max-warnings 0

fix: mypage 오답노트에 가상 키보드 및 포커스 스타일링 개선 적용
  app/_components/molecules/AnswerSection.tsx
  app/_components/molecules/MathInput.tsx
  app/error-note/_components/ErrorNoteCard.tsx
  app/error-note/_components/ErrorNoteInterface.tsx
  app/mypage/[id]/error-note/MyPageErrorNote.tsx
Due: prettier --write, eslint --max-warnings 0

fix: 단원평가 결과 페이지 미응시 내역 안나오는 버그 수정
  app/api/unit-exam/solves/route.ts
  app/unit-result/page.tsx
Due: prettier --write, eslint --max-warnings 0

feat: 선생님 승인 거절 시 이메일 알림 발송
  app/admin/teacher-approval/components/TechReject.tsx
  app/api/admin/teachers/route.ts
  backend/admin/teachers/usecases/DeleteTeacherAuthUsecase.ts
  backend/common/domains/repositories/IEmailService.ts
  backend/common/infrastructures/services/ResendEmailService.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --max-warnings 0

fix: 도움말 모달 클릭 이벤트 격리 및 z-index 수정
  app/_components/molecules/HelpModal.tsx
  app/_components/molecules/MathInput.tsx
  app/error-note/_components/ErrorNoteInterface.tsx
  app/mypage/[id]/error-note/MyPageErrorNote.tsx
Due: prettier --write, eslint --max-warnings 0

refactor: 코드 리펙토링(id값 음수 부분 제외)
  app/api/unit-exam/solves/route.ts
  app/unit-result/page.tsx
Due: prettier --write, eslint --max-warnings 0

style: 도움말 부분 기본적으로 축소 상태로 둠, 도움말 부분 텍스트 변경, 도움말 부분 위치 변경
  app/error-note/_components/ContextualHelpSection.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Fix VirtualKeyboard overlay and add smart help section coordination
  app/error-note/_components/ContextualHelpSection.tsx
  app/error-note/_components/ErrorNoteInterface.tsx
Due: prettier --write, eslint --max-warnings 0

feat: Apply VirtualKeyboard overlay fixes to MyPageErrorNote
  app/mypage/[id]/error-note/MyPageErrorNote.tsx
Due: prettier --write, eslint --max-warnings 0

feat: add keyboard detection with toast notifications
  app/_components/organisms/PracticeInterface.tsx
  app/_components/organisms/UnitInterface.tsx
  app/_components/templates/UnitPageContent.tsx
  app/_hooks/useKeyboardDetection.ts
  app/error-note/_components/ErrorNoteInterface.tsx
  app/landing/landing-trial/InteractiveLanding.tsx
  app/mypage/[id]/error-note/MyPageErrorNote.tsx
Due: prettier --write, eslint --max-warnings 0

fix: sidebar callbackUrl -> redirectTo (deprecated 코드), ToastContainer Props 변경
  app/_components/sidebar/SidebarAdmin.tsx
  app/_components/sidebar/SidebarTeacher.tsx
  app/_components/sidebar/SidebarUser.tsx
  app/layout.tsx
Due: prettier --write, eslint --max-warnings 0

feat: toast 옵션 변경
  app/_hooks/useKeyboardDetection.ts
Due: prettier --write, eslint --max-warnings 0

refactor: ContextualHelpSection 컴포넌트를 작은 컴포넌트들로 분리
  app/error-note/_components/ContextualHelpSection.tsx
  app/error-note/_components/DragHandle.tsx
  app/error-note/_components/HelpContentDisplay.tsx
  app/error-note/_components/VideoSection.tsx
  hooks/useDragAndDrop.ts
  hooks/useHelpContent.ts
  hooks/usePositioning.ts
Due: prettier --write, eslint --max-warnings 0

debug: 도움말 섹션 데이터 로딩 이슈 디버깅을 위한 로그 추가
  app/error-note/_components/DragHandle.tsx
  app/error-note/_components/ErrorNoteInterface.tsx
  hooks/useHelpContent.ts
Due: prettier --write, eslint --max-warnings 0

fix : 단원평가 오류 해결
  app/_components/templates/PracticePageContent.tsx
  app/api/solves/route.ts
  app/api/unit-exam/generate/route.ts
  app/api/unit-exam/solves/route.ts
  backend/common/infrastructures/LLM/callGemini.ts
  backend/solves/usecases/GenerateSolvesByUnitUsecase.ts
  backend/solves/usecases/SolvesUsecases.ts
  backend/unit/Usecases/UnitExamUsecase.ts
  backend/unit/dtos/UnitExamDto.ts
  backend/utils/answer-verification/index.ts
Due: prettier --write, eslint --max-warnings 0

refactor : 불필요한 코드 개선
  backend/unit/Usecases/UnitExamUsecase.ts
Due: prettier --write, eslint --max-warnings 0

fix : 빌드 오류 해결
  app/api/solves/route.ts
Due: prettier --write, eslint --max-warnings 0

fix: 데스크톱 도움말 콘텐츠 및 가상 키보드 확장 문제 해결
  app/error-note/_components/ContextualHelpSection.tsx
  app/error-note/_components/ErrorNoteInterface.tsx
  app/mypage/[id]/error-note/MyPageErrorNote.tsx
  hooks/useHelpContent.ts
  hooks/useMediaQuery.ts
Due: prettier --write, eslint --max-warnings 0

refactor: ErrorNote 컴포넌트 통합으로 중복 코드 600+ 라인 제거
  app/error-note/_components/ErrorNoteInterface.tsx
  app/error-note/_components/createMyPageConfig.ts
  app/mypage/[id]/error-note/MyPageErrorNote.tsx
  app/mypage/[id]/error-note/MyPageErrorNoteWrapper.tsx
  app/mypage/[id]/error-note/page.tsx
Due: prettier --write, eslint --max-warnings 0

refactor: consolidate duplicate error note components and fix TypeScript errors
  app/_components/error-note/ContextualHelpSection.tsx
  app/_components/error-note/DragHandle.tsx
  app/_components/error-note/ErrorNoteCard.tsx
  app/_components/error-note/ErrorNoteInterface.tsx
  app/_components/error-note/HelpContentDisplay.tsx
  app/_components/error-note/VideoSection.tsx
  app/_components/error-note/VirtualKeyboard.tsx
  app/_components/error-note/createMyPageConfig.ts
  app/error-note/page.tsx
  app/mypage/[id]/error-note/MyPageErrorNoteWrapper.tsx
Due: prettier --write, eslint --max-warnings 0

refactor : readme 개선
  README.md
Due: prettier --write

feat: add multi-stage Dockerfile for production builds
  .dockerignore
  dockerfile
Due: none

feat: Kubernetes 배포 매니페스트 추가
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/service.yaml
Due: none

feat: GitHub Actions CI/CD 파이프라인 추가
  .github/workflows/deploy.yml
Due: none

feat: Kubernetes health check 엔드포인트 추가
  app/api/healthz/route.ts
  app/api/readyz/route.ts
Due: prettier --write, eslint --max-warnings 0

fix: GitHub Actions 워크플로우 트리거 경로 수정
  .github/workflows/deploy.yml
Due: none

feat: Kubernetes deployment에 DB 마이그레이션 및 환경변수 설정 추가
  k8s/deployment.yaml
Due: none

docs: Kubernetes 배포 가이드 추가
  k8s/README.md
Due: prettier --write

fix : 운영서버 gemini 해결
  README.md
  app/_components/templates/PracticePageContent.tsx
  app/api/solves/route.ts
  backend/common/infrastructures/LLM/callGemini.ts
Due: prettier --write, eslint --max-warnings 0

Gemini API 호출 오류 확인을 위한 main 최신화 (#314)
  README.md
  app/_components/error-note/ContextualHelpSection.tsx
  app/_components/error-note/DragHandle.tsx
  app/_components/error-note/ErrorNoteCard.tsx
  app/_components/error-note/ErrorNoteInterface.tsx
  app/_components/error-note/HelpContentDisplay.tsx
  app/_components/error-note/VideoSection.tsx
  app/_components/error-note/VirtualKeyboard.tsx
  app/_components/error-note/createMyPageConfig.ts
  app/_components/organisms/PracticeInterface.tsx
  app/_components/organisms/UnitInterface.tsx
  app/_components/sidebar/SidebarAdmin.tsx
  app/_components/sidebar/SidebarTeacher.tsx
  app/_components/sidebar/SidebarUser.tsx
  app/_components/templates/PracticePageContent.tsx
  app/_components/templates/UnitPageContent.tsx
  app/_hooks/useKeyboardDetection.ts
  app/api/solves/route.ts
  app/api/unit-exam/generate/route.ts
  app/api/unit-exam/solves/route.ts
  app/error-note/_components/ContextualHelpSection.tsx
  app/error-note/_components/ErrorNoteInterface.tsx
  app/error-note/page.tsx
  app/landing/landing-trial/InteractiveLanding.tsx
  app/layout.tsx
  app/mypage/[id]/error-note/MyPageErrorNote.tsx
  app/mypage/[id]/error-note/MyPageErrorNoteWrapper.tsx
  app/mypage/[id]/error-note/page.tsx
  backend/common/infrastructures/LLM/callGemini.ts
  backend/solves/usecases/GenerateSolvesByUnitUsecase.ts
  backend/solves/usecases/SolvesUsecases.ts
  backend/unit/Usecases/UnitExamUsecase.ts
  backend/unit/dtos/UnitExamDto.ts
  backend/utils/answer-verification/index.ts
  hooks/useDragAndDrop.ts
  hooks/useHelpContent.ts
  hooks/useMediaQuery.ts
  hooks/usePositioning.ts
Due: prettier --write, eslint --max-warnings 0

fix: Docker 이미지 이름을 소문자로 변경
  .github/workflows/deploy.yml
  k8s/deployment.yaml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.md)
  eslint --max-warnings 0: any of: *.{ts,tsx}
